<div class="row">
  <div class="col-xs-12">
    <p>Add New Server and\or  Blue Print</p>
    <label for="serverName">Server Name</label>  
    <input type="text" id="serverName" class="form-control" #serverNameInput>
    <label for="serverContent">Server Content</label>
    <input type="text" id="serverContent" class="form-control" #serverContentInput>
    <br>
    <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
    <button class="btn btn-primary" (click)="onAddBluePrint()">Add Server Blue Print</button>
  </div>
</div>