<div class="container">
  <app-add-server (onServerCreated)="onServerCreatedConsumer($event)"
                  (onBluePrintCreated)="onBlueprintCreatedConsumer($event)">
  </app-add-server>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element  
        *ngFor="let serverElement of serverElements"
        [srvElement] = "serverElement">
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color:red">{{serverElement.content}}</strong>
          <strong *ngIf="serverElement.type === 'blueprint'" style="color:blue">{{serverElement.content}}</strong>
        </p>
      </app-server-element>      
    </div>
  </div>
</div>